# Python
__pycache__/
*.pyc

# DB
*.db

# env
.env

# venv
.venv/

# system
.python-version

# Parser output
parser/output/

# Parser cache
parser/cache/

# Parser logs
parser/logs/