[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=root
WorkingDirectory=/professional24
ExecStart=/professional24/venv/bin/python /professional24/bot.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
